body, html {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;

}


header {
    background: url('image/bannerimg.png') no-repeat center center;
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

header .logo img {
    height: 150px;
    margin-bottom: 1px;
}

.parallax {
    background: url('image/test2img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}
